#msg{
    position: absolute;
width: 1300px;
height: 122px;
left: 89px;
top: 157px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #000000;
}
#usuario{
    position: absolute;
width: 729px;
height: 49px;
left: 47px;
top: 331px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;
}
#txtUser{
    position: absolute;
width: 757px;
height: 65px;
left: 47px;
top: 392px;

background: #D9D9D9;
border-radius: 39px;
}
#contrase침a{
    position: absolute;
width: 729px;
height: 49px;
left: 47px;
top: 511px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;

}
#cont{
    position: absolute;
width: 757px;
height: 66px;
left: 47px;
top: 571px;

background: #D9D9D9;
border-radius: 39px;
}
#recordarme{
    box-sizing: border-box;

position: absolute;
width: 56px;
height: 45px;
left: 59px;
top: 669px;

background: #FFFFFF;
border: 9px solid #000000;
position: absolute;
width: 729px;
height: 49px;
left: 133px;
top: 665px;


}
#boton{
    position: absolute;
width: 380px;
height: 102px;
left: 45px;
top: 766px;

background: #529DC7;
border-radius: 71px;
position: absolute;
width: 223px;
height: 49px;
left: 131px;
top: 783px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;

}
#txtRec{
    position: absolute;
width: 729px;
height: 49px;
left: 133px;
top: 665px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;

}
#fond{
    position: absolute;
width: 1440px;
height: 105px;
left: 0px;
top: 0px;

background: #7CA0D7;
}

#R{position: absolute;
    width: 233px;
    height: 52px;
    left: 270px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    position: absolute;
    width: 178px;
    height: 44px;
    left: 308px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;}
#V{position: absolute;
    width: 233px;
    height: 52px;
    left: 563px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Vuelos */
    
    
    position: absolute;
    width: 178px;
    height: 44px;
    left: 616px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
    }
#Reg{position: absolute;
    width: 241px;
    height: 52px;
    left: 856px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Registro */
    
    
    position: absolute;
    width: 184px;
    height: 44px;
    left: 895px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
}
#Init{position: absolute;
    width: 241px;
    height: 52px;
    left: 1156px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Iniciar sesi칩n */
    
    
    position: absolute;
    width: 264px;
    height: 44px;
    left: 1163px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;}
    #msg{
    position: absolute;
width: 1300px;
height: 122px;
left: 97px;
top: 146px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 77px;

color: #000000;
}
#a{
    position: absolute;
width: 788px;
height: 49px;
left: 47px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #000000;
}
#b{
    position: absolute;
width: 788px;
height: 105px;
left: 59px;
top: 382px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #000000;
}
#pregadd{
    position: absolute;
width: 1396px;
height: 66px;
left: 22px;
top: 485px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;

color: #000000;

}
#c{
    position: absolute;
width: 1103px;
height: 105px;
left: 47px;
top: 590px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #000000;
}
#d{
    position: absolute;
width: 1103px;
height: 105px;
left: 47px;
top: 668px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #000000;

}
#e{
    position: absolute;
width: 1103px;
height: 105px;
left: 32px;
top: 789px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #000000;
}
#s1{
    position: absolute;
width: 58px;
height: 54px;
left: 911px;
top: 287px;

background: #FFFEFE;
border: 5px solid #000000;
}
#s2{
    position: absolute;
width: 58px;
height: 54px;
left: 911px;
top: 381px;

background: #FFFEFE;
border: 5px solid #000000;
}
#n1{
    box-sizing: border-box;

position: absolute;
width: 58px;
height: 54px;
left: 1077px;
top: 287px;

background: #FFFEFE;
border: 5px solid #000000;

}
#n2{
    box-sizing: border-box;

position: absolute;
width: 58px;
height: 54px;
left: 1077px;
top: 381px;

background: #FFFEFE;
border: 5px solid #000000;
}
#Ch1{
    box-sizing: border-box;

position: absolute;
width: 108px;
height: 58px;
left: 946px;
top: 575px;

background: #EBEBEB;
border: 4px solid #000000;

}
#Ch2{
    box-sizing: border-box;

position: absolute;
width: 108px;
height: 58px;
left: 946px;
top: 653px;

background: #EBEBEB;
border: 4px solid #000000;

}
#coms{
    box-sizing: border-box;

position: absolute;
width: 1255px;
height: 143px;
left: 92px;
top: 850px;

background: #EDEDED;
border: 5px solid #000000;
}
#ss1{
    position: absolute;
width: 41px;
height: 49px;
left: 859px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;
}
#ss2{
    position: absolute;
width: 41px;
height: 49px;
left: 859px;
top: 381px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;

}
#nn1{
    position: absolute;
width: 56px;
height: 49px;
left: 1010px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;


}
#nn2{
    position: absolute;
width: 56px;
height: 49px;
left: 1010px;
top: 381px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
/* identical to box height */


color: #000000;

}
#fond{
    position: absolute;
width: 1440px;
height: 105px;
left: 0px;
top: 0px;

background: #7CA0D7;
}
#R{position: absolute;
    width: 233px;
    height: 52px;
    left: 270px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    position: absolute;
    width: 178px;
    height: 44px;
    left: 308px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;}
#V{position: absolute;
    width: 233px;
    height: 52px;
    left: 563px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Vuelos */
    
    
    position: absolute;
    width: 178px;
    height: 44px;
    left: 616px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
    }
#Reg{position: absolute;
    width: 241px;
    height: 52px;
    left: 856px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Registro */
    
    
    position: absolute;
    width: 184px;
    height: 44px;
    left: 895px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
}
#Init{position: absolute;
    width: 241px;
    height: 52px;
    left: 1156px;
    top: 26px;
    
    background: #FEF4F4;
    border-radius: 18px;
    
    
    /* Iniciar sesi칩n */
    
    
    position: absolute;
    width: 264px;
    height: 44px;
    left: 1163px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;}
    #msg{
        position: absolute;
    width: 1300px;
    height: 122px;
    left: 97px;
    top: 146px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;
    }
    #a{
        position: absolute;
    width: 788px;
    height: 49px;
    left: 47px;
    top: 287px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    }
    #b{
        position: absolute;
    width: 788px;
    height: 105px;
    left: 59px;
    top: 382px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    }
    #pregadd{
        position: absolute;
    width: 1396px;
    height: 66px;
    left: 22px;
    top: 485px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
    
    }
    #c{
        position: absolute;
    width: 1103px;
    height: 105px;
    left: 47px;
    top: 590px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    }
    #d{
        position: absolute;
    width: 1103px;
    height: 105px;
    left: 47px;
    top: 668px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    
    }
    #e{
        position: absolute;
    width: 1103px;
    height: 105px;
    left: 32px;
    top: 789px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    }
    #s1{
        position: absolute;
    width: 58px;
    height: 54px;
    left: 911px;
    top: 287px;
    
    background: #FFFEFE;
    border: 5px solid #000000;
    }
    #s2{
        position: absolute;
    width: 58px;
    height: 54px;
    left: 911px;
    top: 381px;
    
    background: #FFFEFE;
    border: 5px solid #000000;
    }
    #n1{
        box-sizing: border-box;
    
    position: absolute;
    width: 58px;
    height: 54px;
    left: 1077px;
    top: 287px;
    
    background: #FFFEFE;
    border: 5px solid #000000;
    
    }
    #n2{
        box-sizing: border-box;
    
    position: absolute;
    width: 58px;
    height: 54px;
    left: 1077px;
    top: 381px;
    
    background: #FFFEFE;
    border: 5px solid #000000;
    }
    #Ch1{
        box-sizing: border-box;
    
    position: absolute;
    width: 108px;
    height: 58px;
    left: 946px;
    top: 575px;
    
    background: #EBEBEB;
    border: 4px solid #000000;
    
    }
    #Ch2{
        box-sizing: border-box;
    
    position: absolute;
    width: 108px;
    height: 58px;
    left: 946px;
    top: 653px;
    
    background: #EBEBEB;
    border: 4px solid #000000;
    
    }
    #coms{
        box-sizing: border-box;
    
    position: absolute;
    width: 1255px;
    height: 143px;
    left: 92px;
    top: 850px;
    
    background: #EDEDED;
    border: 5px solid #000000;
    }
    #ss1{
        position: absolute;
    width: 41px;
    height: 49px;
    left: 859px;
    top: 287px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #000000;
    }
    #ss2{
        position: absolute;
    width: 41px;
    height: 49px;
    left: 859px;
    top: 381px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #000000;
    
    }
    #nn1{
        position: absolute;
    width: 56px;
    height: 49px;
    left: 1010px;
    top: 287px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #000000;
    
    
    }
    #nn2{
        position: absolute;
    width: 56px;
    height: 49px;
    left: 1010px;
    top: 381px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #000000;
    
    }
    #fond{
        position: absolute;
    width: 1440px;
    height: 105px;
    left: 0px;
    top: 0px;
    
    background: #7CA0D7;
    }
    #R{position: absolute;
        width: 233px;
        height: 52px;
        left: 270px;
        top: 26px;
        
        background: #FEF4F4;
        border-radius: 18px;
        position: absolute;
        width: 178px;
        height: 44px;
        left: 308px;
        top: 30px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        
        
        color: #000000;}
    #V{position: absolute;
        width: 233px;
        height: 52px;
        left: 563px;
        top: 26px;
        
        background: #FEF4F4;
        border-radius: 18px;
        
        
        /* Vuelos */
        
        
        position: absolute;
        width: 178px;
        height: 44px;
        left: 616px;
        top: 30px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        
        
        color: #000000;
        }
    #Reg{position: absolute;
        width: 241px;
        height: 52px;
        left: 856px;
        top: 26px;
        
        background: #FEF4F4;
        border-radius: 18px;
        
        
        /* Registro */
        
        
        position: absolute;
        width: 184px;
        height: 44px;
        left: 895px;
        top: 30px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        
        
        color: #000000;
    }
    #Init{position: absolute;
        width: 241px;
        height: 52px;
        left: 1156px;
        top: 26px;
        
        background: #FEF4F4;
        border-radius: 18px;
        
        
        /* Iniciar sesi칩n */
        
        
        position: absolute;
        width: 264px;
        height: 44px;
        left: 1163px;
        top: 30px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        
        
        color: #000000;}


